
@font-face {
    font-family: "OpenSansReg";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    src: local("OpenSansReg"), local("OpenSansReg"), url("fonts/opensans-regular-webfont.eot") format("embedded-opentype"), url("fonts/opensans-regular-webfont.woff") format("woff"), url("fonts/opensans-regular-webfont.otf") format("opentype"), url("fonts/opensans-regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSansBold";
    font-stretch: normal;
    font-style: normal;
    font-weight: 200;
    src: local("OpenSansBold"), local("OpenSansBold"), url("fonts/opensans-bold-webfont.eot") format("embedded-opentype"), url("fonts/opensans-bold-webfont.woff") format("woff"), url("fonts/opensans-bold-webfont.otf") format("opentype"), url("fonts/opensans-bold-webfont.ttf") format("truetype");
}
html {
    margin: 0;
    padding: 0;
}
body {
    background-color: #e3e4e5;
    font-family: OpenSansReg;
    font-size: 12pt;
    font-weight: normal;
    line-height: 1.3em;
    margin: 0;
    padding: 0;
}
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}
#master {
    background-color: transparent;
    border-left: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    max-width: 95%;
}
#master #header, #master #wrapper #nav_left, #master #wrapper #content {
    background-color: #ffffff;
    max-width: 100%;
}
#master #header #logo {
    max-width: 100%;
}
#master #header #logo h1 {
    max-width: 100%;
}
#master #header #logo h1 a {
    text-decoration: none;
}
#master #header #logo h1 a img {
    border: medium none;
    max-width: 100%;
}
#master #header #nav_top {
    background-color: #951b62;
    font-family: OpenSansBold;
    max-width: 100%;
    min-height: 30px;
    padding-left: 20px;
}
#master #header #nav_top ul {
    display: inline-block;
    max-width: 100%;
    width: 100%;
}
#master #header #nav_top ul li {
    display: block;
    float: left;
    height: 30px;
    padding: 0 0 0 1%;
    text-align: left;
    width: 15.66%;
}
#master #header #nav_top ul li:first-child {
    display: block;
    float: left;
    height: 30px;
    padding: 0;
    text-align: left;
    width: 15.66%;
}
#master #header #nav_top ul li.active {
}
#master #header #nav_top ul li a {
    color: #ffffff;
    display: block;
    font-weight: bold;
    height: 25px;
    padding: 5px 0 0 5px;
    text-decoration: none;
}
#master #header #nav_top ul li a:hover {
    color: #e2001a;
    font-weight: bold;
    text-decoration: none;
}
#master #header #nav_top ul li.active a {
    background-color: #e2001a;
}
#master #header #nav_top ul li.active a:hover {
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
#master #wrapper {
    background-color: #ffffff;
    height: 100%;
    max-width: 100%;
    min-height: 800px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: left;
}
#master #wrapper #nav_left {
    color: #951b62;
    float: left;
    padding-right: 3%;
    width: 22%;
}
#master #wrapper #nav_left ul {
    list-style: outside none none;
    margin-left: 0;
}
#master #wrapper #nav_left ul li {
    border-bottom: 1px solid #951b62;
    font-size: 1.1em;
    min-height: 40px;
}
#master #wrapper #nav_left ul li:last-child {
}
#master #wrapper #nav_left ul li a {
    color: #951b62;
    display: block;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-top: 15px;
    text-decoration: none;
}
#master #wrapper #nav_left ul li a:hover, #master #wrapper #nav_left ul li.active a:hover {
    background-color: #e2001a;
    color: #ffffff;
}
#master #wrapper #nav_left ul li.active a {
    color: #e2001a;
    font-weight: bold;
}
#master #wrapper #nav_left ul li.active ul {
    margin: 0 !important;
}
#master #wrapper #nav_left ul li.active ul li {
    border: medium none !important;
    font-size: 0.9em;
    max-height: 50px !important;
    min-height: 25px !important;
}
#master #wrapper #nav_left ul li.active ul li a {
    color: #e2001a;
    font-weight: normal;
    max-height: 50px !important;
    min-height: 25px !important;
}
#master #wrapper #nav_left ul li.active ul li a {
    color: #e2001a;
    display: block;
    font-weight: normal;
    padding-bottom: 0;
    padding-top: 0;
}
#master #wrapper #nav_left ul li.active ul li.active {
    background-color: #e2001a;
    color: #ffffff;
}
#master #wrapper #nav_left ul li.active ul li.active a {
    color: #ffffff;
    max-height: 50px;
    min-height: 25px;
}
#master #wrapper #nav_left .partner {
    display: block;
    font-size: 1.1em;
    margin-left: 20px;
    min-height: 40px;
    padding: 15px 0 0;
    text-align: center;
}
#master #wrapper #nav_left .partner a {
    color: #951b62;
    text-align: center;
    text-decoration: none;
}
#master #wrapper #content {
    color: #1a171b;
    float: left;
    font-size: 10pt;
    width: 75%;
}
#master #wrapper #content h2, #master #wrapper #content h3, #master #wrapper #content h4, #master #wrapper #content h5, #master #wrapper #content h6 {
    color: #e2001a;
    font-family: OpenSansBold;
    padding-bottom: 20px;
}
#master #wrapper #content h2, #master #wrapper #content h3 {
    font-size: 1.8em;
}
#master #wrapper #content h4, #master #wrapper #content h5, #master #wrapper #content h6 {
    font-size: 1em;
}
#master.row, #master #wrapper .row, #master #wrapper #content .row {
    clear: both;
    display: block;
    height: 100%;
    max-width: 100%;
}
#master #wrapper #content .row {
    padding-bottom: 0;
}
#master .row, #master #wrapper .row {
    background-color: #ffffff;
}
#master #wrapper #content .row, #master #footer .row {
    background-color: transparent;
}
#master #wrapper #content .row:first-child {
    padding-top: 15px;
}
#master #wrapper #content .row .span1 {
    max-width: 100%;
}
#master #wrapper #content .row .span2 {
    float: left;
    padding-right: 1%;
    width: 49%;
}
#master #wrapper #content .row .span2:last-of-type {
    float: left;
    padding-left: 1%;
    padding-right: 0 !important;
    width: 49%;
}
#master #wrapper #content .row .span1 p {
    padding-right: 1%;
}
#master #wrapper #content p, #master #wrapper #content ul, #master #wrapper #content ol, #master #wrapper #content table, #master #wrapper #content form {
    padding-bottom: 20px;
}
#master #wrapper #content ul {
    margin: 0 0 0 20px;
}
#master #wrapper #content .span1 p:last-child {
    padding-bottom: 20px;
}
#master #wrapper #content a {
    color: #e2001a;
    font-style: italic;
    text-decoration: underline;
}
#master #wrapper #content form {
}
#master #wrapper #content form legend {
    color: #e2001a;
    font-family: OpenSansBold;
    padding-bottom: 20px;
}
#master #wrapper #content form fieldset {
    border: medium none;
}
#master #wrapper #content form .fieldblock {
    clear: both;
    margin-bottom: 20px;
}
#master #wrapper #content form label {
    display: inline-block;
    min-height: 32px;
    width: 30%;
}
#master #wrapper #content form input[type="text"], #master #wrapper #content form input[type="email"] {
    background: #c1c1c1 none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    min-height: 32px;
    padding: 1%;
    width: 68%;
}
#master #wrapper #content form textarea {
    background: #c1c1c1 none repeat scroll 0 0;
    border: medium none;
    display: inline-block;
    float: right;
    margin-bottom: 20px;
    min-height: 100px;
    padding: 1%;
    width: 68%;
}
#master #wrapper #content form input[type="submit"] {
}
#master #wrapper #content .row .span1 img {
    max-width: 100%;
    padding-bottom: 20px;
}
#master #wrapper #content .row .span1 .galerie .image {
    display: inline-block;
    margin: 0 10px 10px 0;
    max-height: 150px;
    min-height: 150px;
    width: auto;
}
#master #wrapper #content .row .span1 .galerie .image img {
    max-height: 150px;
    min-height: 150px;
    width: auto;
}
#footer {
    background-color: #951b62;
    clear: both;
    color: #ffffff;
    font-size: 0.8em;
    max-width: 95%;
    padding: 20px;
    text-align: left;
}
#master #footer .row {
    border-bottom: 1px solid #ffffff;
    display: block;
    max-height: 22px;
    overflow: visible;
    padding-bottom: 20px;
}
#master #footer .row .span2 {
    float: left;
    padding-right: 0;
    text-align: right;
    width: 50%;
}
#master #footer .row .span2 a {
    color: #ffffff;
}
#master #footer .row .span2 i {
    color: #ffffff;
    font-size: 1.5em;
    letter-spacing: 0.5em;
    line-height: 1em;
}
#master #footer .row .span2 i:hover {
    font-size: 2em;
    transition: all 1s ease-out 0s;
}
#master #footer .row .span2:first-child {
    padding: 0 !important;
    text-align: left !important;
    width: 50%;
}
#footer ul {
    display: inline-block;
    float: left;
    margin: 20px 0;
    width: 14%;
}
#footer ul li {
    display: block;
    padding: 0 1% 0 0;
}
#footer ul li a {
    color: #ffffff;
    font-family: OpenSansReg;
    font-weight: normal !important;
    text-decoration: none;
}
#footer ul li:first-of-type a {
    color: #ffffff;
    font-family: OpenSansBold;
    font-weight: bold;
    text-decoration: none;
}
#footer ul:last-of-type {
    display: inline-block;
    float: left;
    margin: 20px 0;
    width: 86%;
}
#footer ul:last-of-type li {
    display: inline-block;
    font-family: OpenSansBold;
    font-weight: bold;
    padding: 0 2% 0 0;
    width: 14.66%;
}
#footer ul:last-of-type li a {
    font-family: OpenSansBold;
    font-weight: bold;
}
#footer ul:last-of-type li ul li a {
    color: #ffffff;
    font-family: OpenSansReg;
    font-weight: normal;
    text-decoration: none;
}
#footer ul:last-of-type li ul {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
#footer ul:last-of-type li ul li {
    display: block;
    font-family: OpenSansReg;
    font-weight: normal !important;
    padding: 0;
    width: 100%;
}
